@charset "utf-8";


/* CSS Document */


#div1 {position:relative; width:240px; height:190px; }


#div1 a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#1b639e; text-decoration:none; text-shadow:#999; font-weight:600}


#div1 a:hover {border: 1px solid #eee; background: #fff000; padding:3px;}